# Project files
for name in ['project-clj.clj','project-cljs.clj','project-repl.clj']:
    export_file(name = name.split('.')[0],
                src = name,
                out = name,
                visibility = ['PUBLIC'])

# Figwheel starting point
export_file(name = 'figwheel-index',
            src = 'figwheel-index.html',
            out = 'index.html',
            visibility = ['PUBLIC'])

clj_cljs_repl(name = 'repl',
              builder = '//:builder-planck',
              project_file = ':project-repl',
              resource = ':figwheel-index',
              output_folder = '.repl')
